@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

.primary {
  background-color: rgb(10,10,20);
}

.secondary {
  background-color: rgb(200,200,200);
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Google Sans", sans-serif;
  margin:30px;
  margin-bottom:0;
}

.text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Google Sans", sans-serif;


  margin:30px;
  margin-top: 15px;
  margin-bottom:0;

  z-index: 1;
}



/* #page {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
} */

#top {
  position: fixed;
  width: 100%;
  height: 70px;
  top:0;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  /* opacity: .5; */
  overflow:hidden;
  border-bottom: 1px solid rgba(100,100,100,.5);
  z-index: 2;
}

#top a {
  position: sticky;
  display: flex;
  height: 100%;
  width: 120px;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: 200;
  font-size: 18px;

  font-family: "Google Sans", sans-serif;
  transition: .5s;
}

#top a:hover {
  font-weight: 500;
  font-size: 20px;
}
/* top thins when scroll down */
#page {
  width: 100vw;
  height: 100vh;
}

#main {
  position: fixed;
  width: 100vw;
  left: 0;
  height: calc(100% - 70px);
  top: 70px;
  overflow-y: scroll;
}

#left {
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
}
#right {
  position: absolute;
  left: 70%;
  width: 30%;
  height: 100%;
}

#video {
  position: relative;
  top: 0;
  bottom:60px;
  left:0;
  width: 100%;
  max-height: calc(100% - 60px);
  /* border-radius: 20px; */
  /* border: 2px solid rgba(25,25,25,.8); */

  /* box-shadow: 0 0 10px black;   */
  z-index: 0;
}

#controls {
  position: relative;
  width: 100%;
  height: fit-content;
  
}

body {
  margin: 0;
}

video, a, .title, .text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

a {
  pointer-events: auto;
}

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}
